name: Publish Gem

on:
  push:
    branches:
      - main
  release:
    types: [published]
  workflow_dispatch:

jobs:
  test:
    name: Run Tests & Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.1'
          bundler-cache: true

      - name: Run Tests
        run: bundle exec rspec

      - name: Run Rubocop
        run: bundle exec rubocop

  release:
    needs: test
    runs-on: ubuntu-latest
    if: success() && (github.event_name == 'release' || github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && github.ref == 'refs/heads/main'))

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.1'
          bundler-cache: false

      - name: Remove frozen mode
        run: |
          rm -f .bundle/config
          bundle config set --local path 'vendor/bundle'
          bundle config set --local frozen false
          bundle install --jobs 4 --retry 3

      - name: Install dependencies
        run: |
          bundle install

      - name: Build gem
        run: |
          gem build *.gemspec

      - name: Set up RubyGems credentials
        run: |
          mkdir -p ~/.gem  # Create the .gem directory if it doesn't exist
          echo "---" > ~/.gem/credentials
          echo ":rubygems_api_key: ${{ secrets.RUBYGEMS_API_KEY }}" >> ~/.gem/credentials
          chmod 600 ~/.gem/credentials

      - name: Publish gem to RubyGems
        run: |
          gem push *.gem
